<section class="register-form-container">
    <div class="register-from">
        <h2>Registro</h2>
        <form (ngSubmit)="signup()" #registerForm="ngForm">
            <div class="form-group has-feedback">
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="login.email" required #email="ngModel" name="email" />
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger" role="alert">
                    Email Requerido
                </div>
            </div>
            <div class="form-group has-feedback">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="login.password" required #password="ngModel" name="password" />
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger" role="alert">
                    Password Requerido
                </div>

                <label for="confirmPassword">Repita password</label>
                <input type="password" class="form-control" name="confirmPassword" [ngModel]="login.confirmPassword" required validateEqual="password"
                    #confirmPassword="ngModel">
                <div class="alert alert-danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
                    Passwords no concuerdan
                </div>
            </div>

            <div class="form-group has-feedback" [hidden]="errorMessage == ''">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>
            </div>

            <div class="form-group has-feedback">
                <button [disabled]="!registerForm.form.valid" class="btn btn-primary" type="submit">Registrar</button>
                <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div>
</section>