<section class="container content bg-cs-green-light" >
  <div class="row">
    <div *ngFor="let book of booksList?.items" class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card text-cs-grey-dark">
          <div class="card-header truncate" data-toggle="tooltip" data-placement="top" [title]="book.volumeInfo.title">
              {{book.volumeInfo.title}}
          </div>
          <img class="card-img-top" [src]="book.volumeInfo.imageLinks?.thumbnail">
          <div class="card-body card-body-flex">
              <p class="card-text">
                  {{book.volumeInfo.publisher}}
              </p>
              <p class="card-text">
                  {{book.volumeInfo.publishedDate}}
              </p>
              <div style="text-align: center">
                    <a style="float:left; cursor:pointer;" title="Agregar a favoritos" (click)="addFavorite(book)"><i class="fa fa-heart fa-2x" style="padding: 10px"></i></a>
                    <div class="dropdown" style="float:left;">
                        <button title="Agregar a colección" class="btn btn-secondary dropdown-toggle" (click)="showDropdown($event, book.id)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" style="padding: 10px"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [id]="book.id" >
                            <div *ngFor="let collection of collectionList | async">
                                <a class="dropdown-item" href="javascript:void(0);" (click)="addToCollection($event, book, collection)">{{collection.title}}</a>
                            </div>
                        </div>
                    </div>
                    <a style="float:left; cursor:pointer;" title="Ver detalle"  [routerLink]="['../detail/', book.id]"><i class="fa fa-eye fa-2x" style="padding: 10px"></i></a>
                </div>

          </div>
      </div>
  </div>
  </div>
</section>
