<section class="container content bg-cs-green-light" >
  <div class="row">
    <div *ngFor="let book of booksList?.items" class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="card text-cs-grey-dark">
          <div class="card-header">
              {{book.volumeInfo.title}}
          </div>
          <img class="card-img-top" [src]="book.volumeInfo.imageLinks?.thumbnail">
          <div class="card-body">
              <p class="card-text">
                  {{book.volumeInfo.publisher}}
              </p>
              <p class="card-text">
                  {{book.volumeInfo.publishedDate}}
              </p>
            <div style="text-align: center">
              <a  title="Agregar a favoritos"  (click)="addFavorite(book)"><i class="fa fa-heart" style="padding: 10px"></i></a>
              <a  title="Agregar a colección" (click)="addToCollection(book)" ><i class="fa fa-bars" style="padding: 10px"></i></a>
              <a  title="Ver detalle"  [routerLink]="['../detail/', book.id]"><i class="fa fa-eye" style="padding: 10px"></i></a>
            </div>

          </div>
      </div>
  </div>
  </div>
</section>
