<section class="container content" >
  <div class="row">
    <div class="col-12">
      <h2 class="text-cs-grey-dark">Mis Colecciones</h2>
    </div>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg"><strong>Crear Nueva Collección</strong></p>

    <app-collection-form (submitted)="createCollection($event)"></app-collection-form>

  </div>
  <div class="row">
    <app-card-collection *ngFor="let collection of collectionList | async" [collection]="collection" (collectionRemoved)="removeCollection($event)" class="col-12 col-sm-12 col-md-6 col-lg-3"></app-card-collection>
  </div>
</section>
