/* You can add global styles to this file, and also import other style files */
:root {
    --main-style-color: rgba(113, 171, 247, 1);
    --main-shadow-color: rgba(0, 0, 0, .4);
    --header-back-color: rgba(215, 219, 224, 1);
    --main-title-color: rgba(255, 255, 255, 1);
    --input-border-color: rgba(237, 238, 239, 1);
    --button-border-color: rgba(83, 156, 252, 1);
}

body {
    width: 100%;
    margin: 0;    
}

h1, h2, h3 {
    color: var(--main-title-color);
}



input:focus, select:focus, textarea:focus {
    outline: none;
}